<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xij.web.module.sys.dic.DicMapper">
    <select id="queryDic" resultType="dicItem">
        select CODE, LABEL
        from SYS_DIC
        where TYPE = '${type}'
        <if test='filter != null and filter != ""'>
            and FILTER = #{filter}
        </if>
        and STATUS = ${@org.xij.web.module.base.BusinessEntity@STATUS_NORMAL}
        order by SORT_CODE
    </select>

    <select id="queryChildren" resultType="dic">
        SELECT ID,
               TYPE,
               CODE,
               LABEL,
               P_ID,
               FILTER,
               EXT,
               SORT_CODE AS sortCode,
               STATUS,
               UPDATE_TIME,
               REMARK
        FROM SYS_DIC
        WHERE STATUS = ${@org.xij.web.module.base.BusinessEntity@STATUS_NORMAL}
        and P_ID = #{pId}
        ORDER BY TYPE asc, sortCode asc
    </select>

    <insert id="insert">
        INSERT INTO SYS_DIC (ID, TYPE, CODE, LABEL, P_ID, FILTER, EXT, SORT_CODE, CREATE_BY, CREATE_DEPT, REMARK)
        VALUES (#{id}, #{type}, #{code}, #{label}, #{pId}, #{filter}, #{ext}, #{sortCode}, #{createBy}, #{createDept}, #{remark})
    </insert>

    <select id="query" resultType="dic">
        SELECT
        ID,
        TYPE,
        CODE,
        LABEL,
        P_ID,
        FILTER,
        EXT,
        SORT_CODE AS sortCode,
        STATUS,
        UPDATE_TIME,
        REMARK
        FROM SYS_DIC
        WHERE STATUS = ${@org.xij.web.module.base.BusinessEntity@STATUS_NORMAL}
        <if test='label != null and label != ""'>
            AND LABEL LIKE concat(concat('%',#{label}),'%')
        </if>
        <if test='type != null and type != ""'>
            AND TYPE LIKE concat(concat('%',#{type}),'%')
        </if>
        <if test='filter != null and filter != ""'>
            AND filter LIKE concat(concat('%',#{filter}),'%')
        </if>
        <if test='status != null and status != ""'>
            AND STATUS LIKE concat(concat('%',#{status}),'%')
        </if>
        ORDER BY TYPE asc,sortCode asc
    </select>

    <update id="delete">
        UPDATE SYS_DIC
        SET STATUS      = ${@org.xij.web.module.base.BusinessEntity@STATUS_DELETED},
            UPDATE_BY   = #{updateBy},
            UPDATE_DEPT = #{updateDept},
            UPDATE_TIME = #{updateTime}
        WHERE ID = #{id}
        and STATUS = ${@org.xij.web.module.base.BusinessEntity@STATUS_NORMAL}
    </update>

    <select id="queryById" resultType="dic">
        SELECT ID,
               TYPE,
               CODE,
               LABEL,
               P_ID,
               SORT_CODE AS sortCode,
               FILTER,
               EXT,
               REMARK
        FROM SYS_DIC
        WHERE ID = #{id}
    </select>

    <update id="update">
        UPDATE SYS_DIC
        SET
        <if test='type != null and type != ""'>
            TYPE=#{type},
        </if>
        <if test='code != null and code != ""'>
            CODE=#{code},
        </if>
        <if test='label != null and label != ""'>
            LABEL=#{label},
        </if>
        P_ID=#{pId},
        SORT_CODE=#{sortCode},
        FILTER=#{filter},
        EXT=#{ext},
        UPDATE_BY   = #{updateBy},
        UPDATE_DEPT = #{updateDept},
        UPDATE_TIME = #{updateTime},
        REMARK=#{remark}
        WHERE ID = #{id}
    </update>

</mapper>