<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xij.web.module.sys.right.RightMapper">
    <insert id="insert">
        INSERT INTO SYS_RIGHT(ID, NAME, TYPE, REMARK)
        VALUES (#{id}, #{name}, #{type}, #{remark})
    </insert>

    <select id="query" resultType="right">
        SELECT r.ID, decode(r.TYPE,'menu',m.HREF,r.NAME) NAME, r.TYPE, decode(r.TYPE,'menu',m.NAME,r.REMARK) REMARK, r.STATUS
        FROM SYS_RIGHT r
        LEFT JOIN SYS_MENU m on r.NAME = m.ID
        WHERE r.STATUS='0'
        <if test='type != null and type != ""'>
            AND r.TYPE LIKE concat(concat('%',#{type}),'%')
        </if>
        <if test='name != null and name != ""'>
            AND r.NAME LIKE concat(concat('%',#{name}),'%') or m.href LIKE concat(concat('%',#{name}),'%')
        </if>
    </select>

    <update id="delete">
        UPDATE SYS_RIGHT
        SET STATUS='1'
        WHERE ID = #{id}
          and STATUS = '0'
    </update>

    <select id="queryById" resultType="right">
        SELECT ID, NAME, TYPE, REMARK, STATUS
        FROM SYS_RIGHT
        WHERE ID = #{id}
    </select>

    <update id="update">
        UPDATE SYS_RIGHT SET
        NAME=#{name},
        TYPE=#{type},
        REMARK=#{remark}
        WHERE ID = #{id}
    </update>

</mapper>